allow untrusted_app data_fonts_file:dir { r_dir_perms };
allow untrusted_app data_fonts_file:file { getattr read };

allow untrusted_app system_fonts_file:dir { r_dir_perms };
allow untrusted_app system_fonts_file:file { getattr read };
